 .u-section-1 {
  background-image: url("images/-4.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 455px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 176px 111px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 135px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 6066px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 397px;
  margin: 70px 570px 0 auto;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: -355px 0 0 627px;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  margin: 194px 0 0 360px;
}

.u-section-2 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-2 {
  width: 371px;
  height: 242px;
  margin: 5px 814px 0 auto;
}

.u-section-2 .u-text-6 {
  margin: -217px 0 0 383px;
}

.u-section-2 .u-text-7 {
  margin: 20px 0 0 383px;
}

.u-section-2 .u-text-8 {
  margin: 23px 832px 0 63px;
}

.u-section-2 .u-image-3 {
  width: 371px;
  height: 242px;
  margin: -24px 0 0 auto;
}

.u-section-2 .u-text-9 {
  margin: -201px 428px 0 0;
}

.u-section-2 .u-text-10 {
  line-height: 1.2;
  margin: -23px 49px 0 845px;
}

.u-section-2 .u-text-11 {
  margin: 6px 0 0;
}

.u-section-2 .u-text-12 {
  margin: 39px 0 0;
}

.u-section-2 .u-image-4 {
  width: 371px;
  height: 242px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: -216px 0 0 428px;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0 428px;
}

.u-section-2 .u-text-15 {
  margin: 0;
}

.u-section-2 .u-text-16 {
  margin: 20px 0 0;
}

.u-section-2 .u-text-17 {
  font-weight: 400;
  margin: 38px 0 0;
}

.u-section-2 .u-image-5 {
  width: 112px;
  height: 137px;
  margin: -107px 0 0 auto;
}

.u-section-2 .u-text-18 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-19 {
  margin: 13px auto 0 0;
}

.u-section-2 .u-text-20 {
  font-weight: 400;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-21 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-6 {
  width: 112px;
  height: 137px;
  margin: -214px 0 0 auto;
}

.u-section-2 .u-image-7 {
  width: 361px;
  height: 257px;
  margin: 98px auto 0 779px;
}

.u-section-2 .u-text-22 {
  margin: -257px 428px 0 0;
}

.u-section-2 .u-text-23 {
  margin: 20px 428px 0 0;
}

.u-section-2 .u-text-24 {
  line-height: 1.2;
  margin: -17px 62px 0 831px;
}

.u-section-2 .u-text-25 {
  margin: 30px 0 0;
}

.u-section-2 .u-text-26 {
  margin: 20px 0 0;
}

.u-section-2 .u-image-8 {
  width: 232px;
  height: 308px;
  margin: 5px auto 0 0;
}

.u-section-2 .u-text-27 {
  margin: -283px 0 0 311px;
}

.u-section-2 .u-text-28 {
  margin: 17px 0 0 311px;
}

.u-section-2 .u-text-29 {
  line-height: 1.2;
  margin: -19px 893px 0 0;
}

.u-section-2 .u-image-9 {
  width: 364px;
  height: 227px;
  margin: 30px auto 0 776px;
}

.u-section-2 .u-text-30 {
  margin: -221px 443px 0 0;
}

.u-section-2 .u-text-31 {
  line-height: 1.2;
  margin: 83px 48px 0 845px;
}

.u-section-2 .u-image-10 {
  width: 112px;
  height: 137px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-right: 370px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 527px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 160px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 569px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 183px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 694px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 228px;
    margin-left: 63px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
    margin-left: 694px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 228px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 228px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 369px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -475px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 579px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 228px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 228px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 0;
    margin-left: 693px;
  }

  .u-section-2 .u-text-27 {
    margin-right: -281px;
    margin-left: 111px;
  }

  .u-section-2 .u-text-28 {
    margin-left: 111px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 693px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 576px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 243px;
  }

  .u-section-2 .u-text-31 {
    margin-right: 0;
    margin-left: 693px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    margin-right: 150px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 307px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-right: 349px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 474px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 474px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-14 {
    margin-left: 8px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 1169px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -1275px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 359px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 8px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 8px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 473px;
  }

  .u-section-2 .u-text-27 {
    margin-left: 0;
  }

  .u-section-2 .u-text-28 {
    margin-left: 0;
  }

  .u-section-2 .u-text-29 {
    margin-right: 473px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 356px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 23px;
  }

  .u-section-2 .u-text-31 {
    margin-left: 473px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 6045px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 377px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -334px;
    margin-left: 127px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 169px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 294px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 294px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-top: 2344px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -2450px;
  }

  .u-section-2 .u-image-7 {
    margin-left: 179px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
  }

  .u-section-2 .u-text-24 {
    margin-left: 293px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 293px;
  }

  .u-section-2 .u-image-9 {
    margin-left: 176px;
  }

  .u-section-2 .u-text-30 {
    margin-right: 0;
  }

  .u-section-2 .u-text-31 {
    margin-left: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 5816px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 237px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -195px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: -197px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 94px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 222px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -181px;
  }

  .u-section-2 .u-text-10 {
    margin-left: 94px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 222px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -196px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 5500px;
  }

  .u-section-2 .u-text-18 {
    margin-top: -5606px;
  }

  .u-section-2 .u-image-7 {
    width: 340px;
    height: 242px;
    margin-left: 0;
  }

  .u-section-2 .u-text-22 {
    margin-top: -242px;
  }

  .u-section-2 .u-text-24 {
    margin-left: 93px;
  }

  .u-section-2 .u-text-29 {
    margin-right: 93px;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 212px;
    margin-left: 0;
  }

  .u-section-2 .u-text-30 {
    margin-top: -206px;
  }

  .u-section-2 .u-text-31 {
    margin-left: 93px;
  }
} .u-section-3 {
  background-image: url("images/-3.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 470px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 183px 178px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 297px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 140px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 112px;
  }
}