 .u-section-1 {
  background-image: url("images/wow11.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  line-height: 1;
  margin: 0 18px 0 722px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  letter-spacing: -1px;
  margin: 2px 275px 60px 725px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 0;
    margin-left: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 175px;
    margin-left: 625px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 253px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 65px;
    margin-left: 515px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 400px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 120px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 200px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1806px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 397px;
  margin: 25px auto 0 57px;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  margin: -397px 57px 0 656px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 30px 0 57px;
}

.u-section-2 .u-text-3 {
  margin: 47px 30px 0 57px;
}

.u-section-2 .u-image-2 {
  width: 448px;
  height: 292px;
  margin: 65px auto 0 664px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin: -292px 494px 0 30px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-5 {
  line-height: 1.8;
  margin: 5px 496px 0 28px;
}

.u-section-2 .u-text-6 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  margin: 137px 496px 0 28px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 448px;
  height: 292px;
  margin: -32px auto 0 664px;
}

.u-section-2 .u-text-7 {
  line-height: 1.8;
  margin: -255px 496px 0 28px;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  letter-spacing: 3px;
  margin: 188px 496px 0 28px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-4 {
  width: 448px;
  height: 292px;
  margin: -32px 28px 0 auto;
}

.u-section-2 .u-text-9 {
  line-height: 1.8;
  margin: -255px 496px 60px 28px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    margin-left: 29px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 29px;
    margin-left: 484px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    margin-left: 492px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 492px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 325px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    margin-right: 325px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 264px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-2 .u-image-3 {
    margin-left: 272px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 105px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1785px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 377px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -377px;
    margin-right: 0;
    margin-left: 112px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 14px;
    margin-left: 92px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -239px;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    margin-left: 92px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -7px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -280px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1436px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    margin-top: -237px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 222px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -217px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 222px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -185px;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 222px;
    margin-top: 93px;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-top: -310px;
  }
} .u-section-3 {
  background-image: url("images/-1.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 510px;
}

.u-section-3 .u-text-1 {
  margin: 166px 181px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 332px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 421px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 233px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 322px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 153px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 242px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 136px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 63px;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 86px;
  }
}