 .u-section-1 {
  background-image: url("images/1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 408px;
}

.u-section-1 .u-text-1 {
  margin: 152px 157px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 257px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 122px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 99px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 3600px;
}

.u-section-2 .u-image-1 {
  width: 570px;
  height: 397px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-style: italic;
  font-size: 1.125rem;
  margin: -366px 0 0 610px;
}

.u-section-2 .u-text-2 {
  margin: 140px 610px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 33px 0 0;
}

.u-section-2 .u-image-2 {
  width: 370px;
  height: 254px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-text-4 {
  margin: -3px -37px 0 815px;
}

.u-section-2 .u-text-5 {
  margin: -301px 390px 0 0;
}

.u-section-2 .u-text-6 {
  margin: 20px 390px 0 0;
}

.u-section-2 .u-text-7 {
  margin: 37px 0 0;
}

.u-section-2 .u-image-3 {
  width: 370px;
  height: 254px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-text-8 {
  margin: -254px 0 0 398px;
}

.u-section-2 .u-text-9 {
  margin: 34px 0 0;
}

.u-section-2 .u-text-10 {
  margin: 10px 0 0;
}

.u-section-2 .u-text-11 {
  margin: 79px 0 0;
}

.u-section-2 .u-image-4 {
  width: 112px;
  height: 137px;
  margin: -156px 0 0 auto;
}

.u-section-2 .u-text-12 {
  margin: 53px 0 0;
}

.u-section-2 .u-image-5 {
  width: 232px;
  height: 287px;
  margin: 56px auto 0 0;
}

.u-section-2 .u-text-13 {
  margin: -262px 0 0 262px;
}

.u-section-2 .u-text-14 {
  margin: 20px 0 0 262px;
}

.u-section-2 .u-text-15 {
  margin: -5px 0 0 262px;
}

.u-section-2 .u-text-16 {
  margin: -5px 0 0;
}

.u-section-2 .u-text-17 {
  margin: -215px 964px 0 56px;
}

.u-section-2 .u-image-6 {
  width: 232px;
  height: 287px;
  margin: 235px auto 0 0;
}

.u-section-2 .u-text-18 {
  margin: -287px 0 0 272px;
}

.u-section-2 .u-text-19 {
  margin: 28px 0 0 272px;
}

.u-section-2 .u-text-20 {
  margin: -6px 964px 0 56px;
}

.u-section-2 .u-image-7 {
  width: 112px;
  height: 137px;
  margin: 211px auto 0 0;
}

.u-section-2 .u-image-8 {
  width: 377px;
  height: 212px;
  margin: -347px auto 0 763px;
}

.u-section-2 .u-text-21 {
  margin: -183px 407px 0 0;
}

.u-section-2 .u-text-22 {
  margin: 80px 65px 60px 835px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3530px;
  }

  .u-section-2 .u-image-1 {
    width: 470px;
    height: 328px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -328px;
    margin-left: 410px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 410px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 411px;
    margin-left: 715px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -740px;
    margin-right: 190px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 434px;
    margin-right: 190px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -282px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -733px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -378px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -277px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 847px;
  }

  .u-section-2 .u-text-13 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 120px;
    margin-left: 62px;
  }

  .u-section-2 .u-text-15 {
    margin-left: 62px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -130px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -1514px;
    margin-right: 820px;
    margin-left: 0;
  }

  .u-section-2 .u-image-6 {
    margin-top: 1519px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 72px;
  }

  .u-section-2 .u-text-19 {
    margin-left: 72px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -541px;
    margin-right: 820px;
    margin-left: 0;
  }

  .u-section-2 .u-image-7 {
    margin-top: -1266px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 1130px;
    margin-left: 563px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 207px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
    margin-left: 699px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3453px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 251px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -251px;
    margin-left: 190px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 190px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 436px;
    margin-left: 605px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -815px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -64px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -45px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -708px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: -153px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -377px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 747px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -287px;
    margin-left: 0;
  }

  .u-section-2 .u-text-14 {
    margin-top: 170px;
    margin-left: 0;
  }

  .u-section-2 .u-text-15 {
    margin-left: 0;
  }

  .u-section-2 .u-text-16 {
    margin-top: -255px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -1439px;
    margin-right: 600px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 1444px;
  }

  .u-section-2 .u-text-18 {
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-left: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 600px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -1243px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 1107px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-bottom: 13px;
    margin-left: 479px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3391px;
  }

  .u-section-2 .u-image-1 {
    width: 270px;
    height: 188px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -157px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 95px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 561px;
    margin-left: 515px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -1215px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 509px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 161px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 5px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 77px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -552px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 642px;
  }

  .u-section-2 .u-text-13 {
    margin-top: -237px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -55px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -1314px;
    margin-right: 420px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 1319px;
  }

  .u-section-2 .u-text-20 {
    margin-top: -561px;
    margin-right: 420px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -1216px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 1080px;
    margin-left: 163px;
  }

  .u-section-2 .u-text-22 {
    margin-bottom: 0;
    margin-left: 299px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3258px;
  }

  .u-section-2 .u-image-1 {
    width: 170px;
    height: 118px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -87px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
    height: 233px;
    margin-top: 245px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 372px;
    margin-left: 415px;
  }

  .u-section-2 .u-text-5 {
    margin-top: -2455px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 199px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 2386px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 233px;
    margin-top: 30px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -687px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -927px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 992px;
  }

  .u-section-2 .u-text-14 {
    margin-top: -1305px;
  }

  .u-section-2 .u-text-17 {
    margin-top: -989px;
    margin-right: 220px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 994px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 220px;
  }

  .u-section-2 .u-image-7 {
    margin-top: -1116px;
  }

  .u-section-2 .u-image-8 {
    width: 340px;
    height: 191px;
    margin-top: 980px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-top: -162px;
  }

  .u-section-2 .u-text-22 {
    margin-left: 99px;
  }
} .u-section-3 {
  background-image: url("images/-14.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 472px;
}

.u-section-3 .u-text-1 {
  margin: 184px 101px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 389px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 224px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 141px;
  }
}